/*
website: MMU - By Jess Longton
Author: Jesiah Prisco
Version: 1.0

16 - top
31 - home page header
48 - main menu
54 - home page slider


*/


.body-container {
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.body-container img {
  display: inline-block;
}

#top-bar {
  background-color: black;
  text-align: right;
}

#top-bar .pure-menu-link {
  color: white;
  font-size: 1.2em;
}

#top-bar .pure-menu-link:hover {
    background-color: inherit;
    color: pink;
}

#header {
  text-align: center;
  height: 100vh;
}

#header-menu {
  display: inline-block;
  height: 40%;
}

#header-menu img {
  height: 80%;
}




#home-header-font2 {
text-align: center;
padding-top: 0px;
margin-top: 0px;
}

#main-menu-list {
  display: block;
  text-align: center;
  font-family: 'open sans', sans-serif;
  font-weight: bold;
  font-size: 1em;
}


#main-menu-list .pure-menu-item a:hover {
  color: pink;
  background-color: inherit;
  border-bottom: 2px solid pink
}

#main-menu-list .active {
  color: pink;
  background-color: inherit;
  border-bottom: 2px solid pink
}

/*Slider CSS*/
* {box-sizing:border-box}

/* Slideshow container */
.mid-container {
  position: relative;
  margin-top: 0px;
  height: 53%;
}

/* Hide the images by default */
.mySlides {
  display: none;
  height: 100%;
}

.mySlides img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  margin-left: -25px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


#call-outs {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5%;
}

#call-outs .call-outs {
  height: 400px;
  width: 400px;
  padding: 50px;
  border: 10px solid rgba(255, 255, 255,.4);
  align-items: center;
  margin: 10px;
}

#call-out1 {
  background: rgba(255,255,255,.5) url(../img/call-out-1.jpg);
  background-size: cover;
}

#call-out2 {
  background: rgba(255,255,255,.5) url(../img/call-out-2.jpg);
  background-size: cover;
}

#call-out3 {
  background: rgba(255,255,255,.5) url(../img/placeholder.jpg);
  background-size: cover;
}

.call-outs .text-holder {
  position: relative;
  height: 20%;
  width: 50%;
  background-color: black;
  color: pink;
  font-family: 'open sans', sans-serif;
  font-weight: bold;
  padding: 6%;
  left: 50%;
  margin-left: -25%;
  top: 90%;
}

#footer {
  text-align: center;
  display: block;
  height: 100px;
  border-top: 2px solid rgba(0, 0, 0, 0.5);
}
